.h2-carrito{
    text-align: center;
    margin: 10px;
}
.cart-img{
    width: 7.5rem;
    height: 7.5rem;
}

.cart{
    width: 80%;
    margin: 0 10%;
    max-height: 80vh;
    color: white;
    background-color: rgb(31, 32, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;

}
.cart-conten{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: .625rem;
}
.suma-total{
    font-size: 1.5625rem;
    padding: 1.25rem;
    text-align: center;
    padding-top: 1.25rem;
}