.navbar {
    display: flex;
    justify-content:space-between;
    
}
.ulflex{
    display: flex;
    
}
.lista{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    width: 6.25rem;
    color: black;
}

